<!doctype html>
<html class="minimal">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{#ifCond model.name '===' project.name}}{{else}}{{model.name}} | {{/ifCond}}{{project.name}}</title>
	<meta name="description" content="{{#ifCond model.name '===' project.name}}glTF 2.0 SDK for JavaScript and TypeScript, on Web and Node.js.{{else}}Documentation for {{model.name}} in {{project.name}}, a glTF 2.0 SDK for JavaScript, TypeScript, and Node.js.{{/ifCond}}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="referrer" content="no-referrer-when-downgrade" />

	<meta property="og:site_name" content="glTF-Transform" />
	<meta property="og:title" content="{{#ifCond model.name '===' project.name}}{{else}}{{model.name}} | {{/ifCond}}{{project.name}}" />
	<meta property="og:description" content="{{#ifCond model.name '===' project.name}}glTF 2.0 SDK for JavaScript and TypeScript, on Web and Node.js.{{else}}Documentation for {{model.name}} in {{project.name}}, a glTF 2.0 SDK for JavaScript, TypeScript, and Node.js.{{/ifCond}}" />
	<meta property="og:url" content="https://gltf-transform.donmccurdy.com/{{url}}" />
	<meta name="og:image" content="https://gltf-transform.donmccurdy.com/media/hero.jpg" />
	<meta name="og:image:alt" content="Function symbol, f(📦) → 📦, where the argument and output are a box labeled 'glTF'." />
	<meta name="og:image:width" content="2000" />
	<meta name="og:image:height" content="1000" />

	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:title" content="{{#ifCond model.name '===' project.name}}{{else}}{{model.name}} | {{/ifCond}}{{project.name}}" />
	<meta name="twitter:description" content="{{#ifCond model.name '===' project.name}}glTF 2.0 SDK for JavaScript and TypeScript, on Web and Node.js.{{else}}Documentation for {{model.name}} in {{project.name}}, a glTF 2.0 SDK for JavaScript, TypeScript, and Node.js.{{/ifCond}}" />
	<meta name="twitter:url" content="https://gltf-transform.donmccurdy.com/{{url}}" />
	<meta name="twitter:image" content="https://gltf-transform.donmccurdy.com/media/hero.jpg" />
	<meta name="twitter:image:alt" content="Function symbol, f(📦) → 📦, where the argument and output are a box labeled 'glTF'." />
	<meta name="twitter:label1" content="Written by" />
	<meta name="twitter:data1" content="Don McCurdy" />
	<meta name="twitter:creator" content="@donrmccurdy" />

	<link rel="stylesheet" href="/assets/css/main.css"></link>
</head>
<body>

{{> header}}

<nav class="tsd-navigation secondary">
	<h4>Introduction</h4>
	<ul>
		<li class="tsd-kind-namespace">
			<a href="/" class="tsd-kind-icon{{#ifCond url '===' 'index.html'}} active{{/ifCond}}">
				Home
			</a>
		</li>
		<li class="tsd-kind-namespace">
			<a href="/concepts.html" class="tsd-kind-icon{{#ifCond url '===' 'modules/pages.concepts.html'}} active{{/ifCond}}">
				Concepts
			</a>
		</li>
		<li class="tsd-kind-namespace">
			<a href="/extensions.html" class="tsd-kind-icon{{#ifCond url '===' 'modules/pages.extensions.html'}} active{{/ifCond}}">
				Extensions
			</a>
		</li>
		<li class="tsd-kind-namespace">
			<a href="/functions.html" class="tsd-kind-icon{{#ifCond url '===' 'modules/functions.html'}} active{{/ifCond}}">
				Functions
			</a>
		</li>
		<li class="tsd-kind-namespace">
			<a href="/cli.html" class="tsd-kind-icon{{#ifCond url '===' 'modules/pages.cli.html'}} active{{/ifCond}}">
				CLI
			</a>
		</li>
		<li class="tsd-kind-namespace">
			<a href="/contributing.html" class="tsd-kind-icon{{#ifCond url '===' 'modules/pages.contributing.html'}} active{{/ifCond}}">
				Contributing
			</a>
		</li>
		<li class="tsd-kind-namespace">
			<a href="/credits.html" class="tsd-kind-icon{{#ifCond url '===' 'modules/pages.credits.html'}} active{{/ifCond}}">
				Credits
			</a>
		</li>
		<li class="tsd-kind-namespace">
			<a href="https://github.com/donmccurdy/glTF-Transform" target="_blank" class="tsd-kind-icon">GitHub</a>
		</li>
		<li class="tsd-kind-namespace">
			<a href="https://www.npmjs.com/search?q=%40gltf-transform" target="_blank" class="tsd-kind-icon">NPM</a>
		</li>
		<li class="tsd-kind-namespace">
			<a href="https://github.com/donmccurdy/glTF-Transform/discussions" target="_blank" class="tsd-kind-icon">Discussions</a>
		</li>
		<li class="tsd-kind-namespace">
			<a href="https://github.com/donmccurdy/glTF-Transform/blob/main/CHANGELOG.md" target="_blank" class="tsd-kind-icon">Changelog</a>
		</li>
	</ul>

	<h4>Documents</h4>
	<ul>
		<li class="tsd-kind-class">
			<a href="/classes/core.document.html" class="tsd-kind-icon{{#ifCond url '===' 'classes/core.document.html'}} active{{/ifCond}}">
				Document
			</a>
		</li>
		<li class="tsd-kind-class">
			<a href="/interfaces/core.jsondocument.html" class="tsd-kind-icon{{#ifCond url '===' 'interfaces/core.jsondocument.html'}} active{{/ifCond}}">
				JSON<wbr>Document
			</a>
		</li>
	</ul>

	<h4>I/O</h4>
	<ul>
		<li class="tsd-kind-class">
			<a href="/classes/core.platformio.html" class="tsd-kind-icon{{#ifCond url '===' 'classes/core.platformio.html'}} active{{/ifCond}}">
				PlatformIO <em>(Abstract)</em>
			</a>
		</li>
		<li class="tsd-kind-class">
			<a href="/classes/core.denoio.html" class="tsd-kind-icon{{#ifCond url '===' 'classes/core.denoio.html'}} active{{/ifCond}}">
				DenoIO
			</a>
		</li>
		<li class="tsd-kind-class">
			<a href="/classes/core.nodeio.html" class="tsd-kind-icon{{#ifCond url '===' 'classes/core.nodeio.html'}} active{{/ifCond}}">
				NodeIO
			</a>
		</li>
		<li class="tsd-kind-class">
			<a href="/classes/core.webio.html" class="tsd-kind-icon{{#ifCond url '===' 'classes/core.webio.html'}} active{{/ifCond}}">
				WebIO
			</a>
		</li>
	</ul>

	<h4>Properties</h4>
	<ul>
		<li class="tsd-kind-class">
			<a href="/classes/core.property.html" class="tsd-kind-icon{{#ifCond url '===' 'classes/core.property.html'}} active{{/ifCond}}">
				Property <em>(Abstract)</em>
			</a>
		</li>
		<li class="tsd-kind-class">
			<a href="/classes/core.extension.html" class="tsd-kind-icon{{#ifCond url '===' 'classes/core.extension.html'}} active{{/ifCond}}">
				Extension <em>(Abstract)</em>
			</a>
		</li>
		<li class="tsd-kind-class">
			<a href="/classes/core.extensionproperty.html" class="tsd-kind-icon{{#ifCond url '===' 'classes/core.extensionproperty.html'}} active{{/ifCond}}">
				ExtensionProperty <em>(Abstract)</em>
			</a>
		</li>
		<li class="tsd-kind-class">
			<a href="/classes/core.accessor.html" class="tsd-kind-icon{{#ifCond url '===' 'classes/core.accessor.html'}} active{{/ifCond}}">
				Accessor
			</a>
		</li>
		<li class="tsd-kind-class">
			<a href="/classes/core.animation.html" class="tsd-kind-icon{{#ifCond url '===' 'classes/core.animation.html'}} active{{/ifCond}}">
				Animation
			</a>
		</li>
		<li class="tsd-kind-class">
			<a href="/classes/core.animationchannel.html" class="tsd-kind-icon{{#ifCond url '===' 'classes/core.animationchannel.html'}} active{{/ifCond}}">
				AnimationChannel
			</a>
		</li>
		<li class="tsd-kind-class">
			<a href="/classes/core.animationsampler.html" class="tsd-kind-icon{{#ifCond url '===' 'classes/core.animationsampler.html'}} active{{/ifCond}}">
				AnimationSampler
			</a>
		</li>
		<li class="tsd-kind-class">
			<a href="/classes/core.buffer.html" class="tsd-kind-icon{{#ifCond url '===' 'classes/core.buffer.html'}} active{{/ifCond}}">
				Buffer
			</a>
		</li>
		<li class="tsd-kind-class">
			<a href="/classes/core.camera.html" class="tsd-kind-icon{{#ifCond url '===' 'classes/core.camera.html'}} active{{/ifCond}}">
				Camera
			</a>
		</li>
		<li class="tsd-kind-class">
			<a href="/classes/core.material.html" class="tsd-kind-icon{{#ifCond url '===' 'classes/core.material.html'}} active{{/ifCond}}">
				Material
			</a>
		</li>
		<li class="tsd-kind-class">
			<a href="/classes/core.mesh.html" class="tsd-kind-icon{{#ifCond url '===' 'classes/core.mesh.html'}} active{{/ifCond}}">
				Mesh
			</a>
		</li>
		<li class="tsd-kind-class">
			<a href="/classes/core.node.html" class="tsd-kind-icon{{#ifCond url '===' 'classes/core.node.html'}} active{{/ifCond}}">
				Node
			</a>
		</li>
		<li class="tsd-kind-class">
			<a href="/classes/core.primitive.html" class="tsd-kind-icon{{#ifCond url '===' 'classes/core.primitive.html'}} active{{/ifCond}}">
				Primitive
			</a>
		</li>
		<li class="tsd-kind-class">
			<a href="/classes/core.primitivetarget.html" class="tsd-kind-icon{{#ifCond url '===' 'classes/core.primitivetarget.html'}} active{{/ifCond}}">
				PrimitiveTarget
			</a>
		</li>
		<li class="tsd-kind-class">
			<a href="/classes/core.root.html" class="tsd-kind-icon{{#ifCond url '===' 'classes/core.root.html'}} active{{/ifCond}}">
				Root
			</a>
		</li>
		<li class="tsd-kind-class">
			<a href="/classes/core.scene.html" class="tsd-kind-icon{{#ifCond url '===' 'classes/core.scene.html'}} active{{/ifCond}}">
				Scene
			</a>
		</li>
		<li class="tsd-kind-class">
			<a href="/classes/core.skin.html" class="tsd-kind-icon{{#ifCond url '===' 'classes/core.skin.html'}} active{{/ifCond}}">
				Skin
			</a>
		</li>
		<li class="tsd-kind-class">
			<a href="/classes/core.texture.html" class="tsd-kind-icon{{#ifCond url '===' 'classes/core.texture.html'}} active{{/ifCond}}">
				Texture
			</a>
		</li>
		<li class="tsd-kind-class">
			<a href="/classes/core.textureinfo.html" class="tsd-kind-icon{{#ifCond url '===' 'classes/core.textureinfo.html'}} active{{/ifCond}}">
				TextureInfo
			</a>
		</li>
	</ul>

	<h4>Extensions (Khronos)</h4>
	<ul>
		<li class="tsd-kind-class">
			<a href="/classes/extensions.khrdracomeshcompression.html" class="tsd-kind-icon{{#ifCond url '===' 'classes/extensions.khrdracomeshcompression.html'}} active{{/ifCond}}">
				KHRDracoMeshCompression
			</a>
		</li>
		<li class="tsd-kind-class">
			<a href="/classes/extensions.khrlightspunctual.html" class="tsd-kind-icon{{#ifCond url '===' 'classes/extensions.khrlightspunctual.html'}} active{{/ifCond}}">
				KHRLightsPunctual
			</a>
		</li>
		<li class="tsd-kind-class">
			<a href="/classes/extensions.khrmaterialsanisotropy.html" class="tsd-kind-icon{{#ifCond url '===' 'classes/extensions.khrmaterialsanisotropy.html'}} active{{/ifCond}}">
				KHRMaterialsAnisotropy
			</a>
		</li>
		<li class="tsd-kind-class">
			<a href="/classes/extensions.khrmaterialsclearcoat.html" class="tsd-kind-icon{{#ifCond url '===' 'classes/extensions.khrmaterialsclearcoat.html'}} active{{/ifCond}}">
				KHRMaterialsClearcoat
			</a>
		</li>
		<li class="tsd-kind-class">
			<a href="/classes/extensions.khrmaterialsemissivestrength.html" class="tsd-kind-icon{{#ifCond url '===' 'classes/extensions.khrmaterialsemissivestrength.html'}} active{{/ifCond}}">
				KHRMaterialsEmissiveStrength
			</a>
		</li>
		<li class="tsd-kind-class">
			<a href="/classes/extensions.khrmaterialsior.html" class="tsd-kind-icon{{#ifCond url '===' 'classes/extensions.khrmaterialsior.html'}} active{{/ifCond}}">
				KHRMaterialsIOR
			</a>
		</li>
		<li class="tsd-kind-class">
			<a href="/classes/extensions.khrmaterialsiridescence.html" class="tsd-kind-icon{{#ifCond url '===' 'classes/extensions.khrmaterialsiridescence.html'}} active{{/ifCond}}">
				KHRMaterialsIridescence
			</a>
		</li>
		<li class="tsd-kind-class">
			<a href="/classes/extensions.khrmaterialspbrspecularglossiness.html" class="tsd-kind-icon{{#ifCond url '===' 'classes/extensions.khrmaterialspbrspecularglossiness.html'}} active{{/ifCond}}">
				KHRMaterialsPBRSpecularGlossiness
			</a>
		</li>
		<li class="tsd-kind-class">
			<a href="/classes/extensions.khrmaterialssheen.html" class="tsd-kind-icon{{#ifCond url '===' 'classes/extensions.khrmaterialssheen.html'}} active{{/ifCond}}">
				KHRMaterialsSheen
			</a>
		</li>
		<li class="tsd-kind-class">
			<a href="/classes/extensions.khrmaterialsspecular.html" class="tsd-kind-icon{{#ifCond url '===' 'classes/extensions.khrmaterialsspecular.html'}} active{{/ifCond}}">
				KHRMaterialsSpecular
			</a>
		</li>
		<li class="tsd-kind-class">
			<a href="/classes/extensions.khrmaterialstransmission.html" class="tsd-kind-icon{{#ifCond url '===' 'classes/extensions.khrmaterialstransmission.html'}} active{{/ifCond}}">
				KHRMaterialsTransmission
			</a>
		</li>
		<li class="tsd-kind-class">
			<a href="/classes/extensions.khrmaterialsunlit.html" class="tsd-kind-icon{{#ifCond url '===' 'classes/extensions.khrmaterialsunlit.html'}} active{{/ifCond}}">
				KHRMaterialsUnlit
			</a>
		</li>
		<li class="tsd-kind-class">
			<a href="/classes/extensions.khrmaterialsvariants.html" class="tsd-kind-icon{{#ifCond url '===' 'classes/extensions.khrmaterialsvariants.html'}} active{{/ifCond}}">
				KHRMaterialsVariants
			</a>
		</li>
		<li class="tsd-kind-class">
			<a href="/classes/extensions.khrmaterialsvolume.html" class="tsd-kind-icon{{#ifCond url '===' 'classes/extensions.khrmaterialsvolume.html'}} active{{/ifCond}}">
				KHRMaterialsVolume
			</a>
		</li>
		<li class="tsd-kind-class">
			<a href="/classes/extensions.khrmeshquantization.html" class="tsd-kind-icon{{#ifCond url '===' 'classes/extensions.khrmeshquantization.html'}} active{{/ifCond}}">
				KHRMeshQuantization
			</a>
		</li>
		<li class="tsd-kind-class">
			<a href="/classes/extensions.khrtexturebasisu.html" class="tsd-kind-icon{{#ifCond url '===' 'classes/extensions.khrtexturebasisu.html'}} active{{/ifCond}}">
				KHRTextureBasisu
			</a>
		</li>
		<li class="tsd-kind-class">
			<a href="/classes/extensions.khrtexturetransform.html" class="tsd-kind-icon{{#ifCond url '===' 'classes/extensions.khrtexturetransform.html'}} active{{/ifCond}}">
				KHRTextureTransform
			</a>
		</li>
		<li class="tsd-kind-class">
			<a href="/classes/extensions.khrxmp.html" class="tsd-kind-icon{{#ifCond url '===' 'classes/extensions.khrxmp.html'}} active{{/ifCond}}">
				KHRXMP
			</a>
		</li>
	</ul>

	<h4>Extensions (Vendor)</h4>
	<ul>
		<li class="tsd-kind-class">
			<a href="/classes/extensions.exttexturewebp.html" class="tsd-kind-icon{{#ifCond url '===' 'classes/extensions.exttexturewebp.html'}} active{{/ifCond}}">
				EXTTextureWebP
			</a>
		</li>
		<li class="tsd-kind-class">
			<a href="/classes/extensions.extmeshgpuinstancing.html" class="tsd-kind-icon{{#ifCond url '===' 'classes/extensions.extmeshgpuinstancing.html'}} active{{/ifCond}}">
				EXTMeshGPUInstancing
			</a>
		</li>
		<li class="tsd-kind-class">
			<a href="/classes/extensions.extmeshoptcompression.html" class="tsd-kind-icon{{#ifCond url '===' 'classes/extensions.extmeshoptcompression.html'}} active{{/ifCond}}">
				EXTMeshoptCompression
			</a>
		</li>
	</ul>

	<h4>Utilities</h4>
	<ul>
		<li class="tsd-kind-class">
			<a href="/classes/core.bufferutils.html" class="tsd-kind-icon{{#ifCond url '===' 'classes/core.bufferutils.html'}} active{{/ifCond}}">
				Buffer<wbr>Utils
			</a>
		</li>
		<li class="tsd-kind-class">
			<a href="/classes/core.colorutils.html" class="tsd-kind-icon{{#ifCond url '===' 'classes/core.colorutils.html'}} active{{/ifCond}}">
				Color<wbr>Utils
			</a>
		</li>
		<li class="tsd-kind-class">
			<a href="/classes/core.fileutils.html" class="tsd-kind-icon{{#ifCond url '===' 'classes/core.fileutils.html'}} active{{/ifCond}}">
				File<wbr>Utils
			</a>
		</li>
		<li class="tsd-kind-class">
			<a href="/classes/core.httputils.html" class="tsd-kind-icon{{#ifCond url '===' 'classes/core.httputils.html'}} active{{/ifCond}}">
				HTTP<wbr>Utils
			</a>
		</li>
		<li class="tsd-kind-class">
			<a href="/classes/core.imageutils.html" class="tsd-kind-icon{{#ifCond url '===' 'classes/core.imageutils.html'}} active{{/ifCond}}">
				Image<wbr>Utils
			</a>
		</li>
		<li class="tsd-kind-class">
			<a href="/classes/core.logger.html" class="tsd-kind-icon{{#ifCond url '===' 'classes/core.logger.html'}} active{{/ifCond}}">
				Logger
			</a>
		</li>
	</ul>
</nav>

<div class="container container-main">
	<div class="content-wrap">
		{{#if model.readme}}
			<div class="tsd-panel tsd-typography">
				{{#markdown}}{{{model.readme}}}{{/markdown}}
			</div>
		{{/if}}

		{{{contents}}}
		{{> footer}}
	</div>
</div>

{{> analytics}}

</body>
</html>
